.mode-interact fl-helper[name="conditional-container"].edit.hidden {
  display: block!important;
}

.mode-interact .view-is-empty {
  border: 1px dotted #D4D4D4!important;
  color: #6A6868!important;
  font-size: 12px!important;
  font-family: "Open Sans", sans-serif;
}

.mode-interact [data-name="Conditional container"] {
  margin: 30px 0;
  width: 100%;
  /* padding: 15px 0; */
}

.mode-interact fl-helper[name='conditional-container']::before {
  content: 'Conditional container';
}
.mode-interact [data-name='conditional-container']::before {
  content: 'Conditional container';
}

.mode-interact [data-name='conditional-container']:before {
  border-bottom-right-radius: 10px;
  cursor: grab;
  position: relative;
  padding: 5px;
  font-size: 12px;
  color: white;
  background: darkorange;
  top: -2px;
  left: 0px;
  z-index: 9;
}

.mode-interact fl-helper[name='conditional-container']:before {
  border-top-right-radius: 10px;
  cursor: grab;
  position: absolute;
  padding: 5px;
  font-size: 12px;
  color: white;
  background: darkorange;
  top: -29px;
  left: 0px;
  z-index: 9;
}

[data-widget-package="com.fliplet.conditional-container"] {
  width: 100%;
}

[data-widget-package="com.fliplet.conditional-container"] [data-view-placeholder] {
  border: none;
  padding: 10px;
}

[data-widget-package="com.fliplet.conditional-container"] {
  position: relative;
}